@font-face {
  font-family: "Proxima";
  src: url("../../fonts/FontsFree-Net-ProximaNova-Regular.ttf") format("woff2"); /* Modern Browsers */
}

.rouletteTable {
  width: 97%;
  height: 21.25rem;
  flex-shrink: 0;
  border-radius: 0.75rem;
  border: 1px solid #18262f;
  background: #121c23;
  padding: 1.75rem 1.5rem 1.62rem 1.5rem;
  margin-top: 5rem;
  top: 8rem;
  margin-bottom: 8rem;
  /* color: #fff; */
}
.headingBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headingBar .heading {
  color: #fff;
  font-family: "Proxima";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.1875rem; /* 175% */
}
.headingBar .timeHeading {
  color: #aab5c6;
  text-align: right;
  font-family: "Proxima";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3125rem; /* 150% */
}
.rouletteTable .table {
  width: 100%;
  margin-top: 2rem;
}
.tableHeader {
}
.tableHeader th {
  text-align: left;
  color: #3d4d65;
  font-family: "Proxima";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3125rem; /* 175% */
}
.tableBody {
}
.tableBody:nth-child(even) {
  height: 2.5rem;
  border-radius: 0.25rem;
  background-color: #16222b;
  padding: 1rem;
}
.tableBody:nth-child(odd) {
  height: 2.5rem;
  border-radius: 0.25rem;
}
.tableBody td {
  color: #bfd1ea;
  font-family: "Proxima";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3125rem; /* 175% */
  border: none;
}
.payoutGreen {
  color: #3bb369;
}
.payoutRed {
  color: #cd2a2a;
}

@media (max-width: 1600px) {
  .rouletteTable {
    width: 96%;
  }
}

@media screen and (max-width: 768px) {
  .desktop_view {
    display: none;
  }
  .mobile_view {
    display: block;
  }
  .rouletteTable {
    width: 100%;
    position: relative;
    left: 17%;
  }
  .tableBody td {
    font-size: 0.55rem;
  }
  .tableHeader th {
    font-size: 0.55rem;
  }
  .headingBar .heading {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .rouletteTable {
    width: 94.5%;
  }
}
